body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label,
input {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}


/* Just to add more interactivity */
button:hover {
    background-color: #45a049;
}